@rendermode InteractiveServer
@* @typeparam TItem *@
<div class="modal fade @ModalClass" id="thing" tabindex="-1" role="dialog" style="display:@ModalDisplay" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" > 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tilføj arving</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* <EditForm Model="editPerson" OnSubmit="() => Submit(editPerson)"> *@
                <label>
                    Navn:
                    <InputText @bind-value="editPerson.Name"></InputText>
                </label>
                <label>
                    Fødselsdag:
                    <InputDate TValue="DateOnly" @bind-Value="editPerson.Birthday"></InputDate>
                </label>
                <label>
                    ErDød?:
                    <InputCheckbox @bind-Value="editPerson.IsAlive"></InputCheckbox>
                </label>
                @*
                <label>
                    Children:
                    <InputSelect TValue="Person" Assets=""></InputSelect>
                </label>
                <label>
                    Parents:
                    <InputSelect TValue="Person"></InputSelect>
                </label>
                
                *@
                <label>
                    Parents:
                    @for (int i = 0; i < editPerson.Parents.Count; i++)
                    {
                        var index = i;
                        <p>@editPerson.Parents[i].Name</p>
                    }
                    <button @onclick="Thing">Add parent</button>
                    <InputSelect @bind-value="selectedPerson" @onchange="() => { editPerson.AddParent(selectedPerson); }">
                        @foreach (var person in FamilyTree.GetMembers())
                        {
                            <option value="@person">@person.Name</option>
                        }
                    </InputSelect>
                    @*
                    @foreach (var thing in editPerson.Parents)
                    {
                        var thing2 = thing;
                        <InputSelect @bind-value="thing2">
                            @foreach (var person in FamilyTree.GetMembers())
                            {
                                <option value="@person">@person.Name</option>
                            }
                        </InputSelect>
                    }
                    *@
                </label>
                @* </EditForm> *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="() => { Submit(editPerson); Close(); }">AddItem</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop @ModalClass"></div>
@*
@if (ShowBackdrop)
{
    <div class="modal-backdrop @ModalClass"></div>
}
*@

@code {
    private String ModalDisplay = "none;";
    private String ModalClass = "visually-hidden";
    private bool ShowBackdrop = false;
    private Person editPerson { get; set; }
    private Action<Person> Submit { get; set; }
    private Person selectedPerson { get; set; }

    public void Thing()
    {
        selectedPerson = new();
    }

    protected override void OnParametersSet()
    {
        editPerson = new();
        base.OnParametersSet();
    }

    public async Task Open(Action<Person> submit)
    {
        try
        {
            ModalDisplay = "block;";
            ModalClass = "show";
            ShowBackdrop = true;
            editPerson = new();
            Submit = submit;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async void Close()
    {
        try
        {
            ModalDisplay = "none;";
            ModalClass = "visually-hidden";
            ShowBackdrop = false;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}